
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a {
  color: #403F4C;
}

a:active, a:hover{
  text-decoration:none;
  color: #403F4C;
}

footer {
  background-color: #0072CE;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

footer nav {
  display: flex;
  justify-content: space-around;
}

footer nav a{
  padding: .6rem;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  text-decoration:none;
  font-size: .6rem;
}

footer nav .fa{
  font-size: 1.5rem !important;
  margin-bottom: .4rem;
}

footer nav a:active, footer nav a:hover{
  text-decoration:none;
  color: #ffffff;
}

.card {
  border:none;
  border-radius:0;
}

.card .card-body {
  padding: 0;
}

.card-header {
  background-color: unset;
  border-bottom: none;
}

.card-video {
  margin-bottom: 1rem;
}

#homeBar .active{
  background-color: #E84855;
}

#video-class {
  margin-bottom: 1rem;
  //background-color: #403F4C;
}

#video-class .swiper-slide a{
  font-size: 1rem;
  color: #403F4C;
}

#video-class .swiper-wrapper .active a {
  color: #E84855;
}

